<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    {% if messages %}
    <div>
        {%for message in messages%}
        {{message}}
        {% endfor %}
        </div>
        {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.email.errors }}
        <p>
            <label for="id_email">Email Address:</label>#
            {{for.email}}
        </p>
        <button type="submit">Reset Password</button>
    </form>

</body>
</html>