<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/threelite/style.css">

    <title>3Lite Graphic Design</title>
</head>
<body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">3Lite Graphic Designs</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#"><i class="fas fa-home"></i> Home 
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#services"><i class="fas fa-user"></i> Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#services"><i class="fas fa-paint-brush"></i> Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#services"><i class="far fa-image"></i> Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#services"><i class="fas fa-question-circle"></i> About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact"><i class="fas fa-at"></i> Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact"><i class="fab fa-facebook-square"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact"><i class="fab fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--Jumbotron-->
    <header class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center"> 
           <h1 class="display-3">The Best Solution for Your Business</h1>
           <p class="lead pb-4">We help you maximize performance and build a healthy organization.</p>
           <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn More</a></p>
        </div>
    </header>
    <main>
        <!--3 card section -->
        <section id="services" class="container">
            <h2 class="display-4 text-center mt-5 mb-3">Our Services</h2>
            
            <div class="row text-center">
               <div class="col-md-4 mb-4">
                  <div class="card h-100">
                     <img class="card-img-top" src="static/threelite/images/office.jpg" alt="Design">
                     <div class="card-body">
                        <h4 class="card-title">Design</h4>
                        <p class="card-text">Deliver the best user experience 
                        with our carefully designed responsive websites and applications!</p>
                     </div>
                     <div class="card-footer py-4">
                        <a href="#" class="btn btn-secondary">See portfolio &raquo;</a>
                     </div>
                  </div>
               </div>
               
               <div class="col-md-4 mb-4">
                  <div class="card h-100">
                     <img class="card-img-top" src="static/threelite/images/person-smartphone-meeting.jpeg" alt="Development">
                     <div class="card-body">
                        <h4 class="card-title">Development</h4>
                           <p class="card-text">You need software that works on every device. 
                           Leverage the latest technologies and the most powerful tools!</p>
                     </div>
                     <div class="card-footer py-4">
                        <a href="#" class="btn btn-secondary">See projects &raquo;</a>
                     </div>
                  </div>
               </div>
               
               <div class="col-md-4 mb-4">
                  <div class="card h-100">
                     <img class="card-img-top" src="static/threelite/images/macandcoffee.jpg" alt="Analytics">
                     <div class="card-body">
                        <h4 class="card-title">Analytics</h4>
                        <p class="card-text">Consult our experts to set up proper goals and 
                        find the best stack for your next application!</p>
                     </div>
                     <div class="card-footer py-4">
                        <a href="#" class="btn btn-secondary">See testimonials &raquo;</a>
                     </div>
                  </div>
               </div>
            </div></section>
        
            <!--footer section-->
            <section class="container-fluid text-center py-4 mt-4" id="contact">
                <h2 class="display-4 pb-4 my-4">Get in touch with us today!</h2>
                <p class="lead pb-3">Send us a message and we will get back to 
                you as soon as possible.</p>
                <a href="#" class="btn btn-primary btn-lg mb-4" role="button">Contact us</a>
            </section>
    <section></section>
    </main>

    <!--Footer-->
    <footer class="py-3 bg-light">
        <div class="container">
           <p class="text-center">Copyright &copy; 3Lite Graphic Design 2019</p>
        </div>
     </footer>
    
     <!--Bootstrap 4 JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>