{%extends 'base.html'%}
{%load static%}

{% block content %}

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-12 mx-auto">
          <h1 class="mb-5">3lite Graphic Designs </h1>
          <h2 class="mb-5">Let us help get your ideas to the world!</h2>
          {%if user.is_authenticated %}
          <div>
            <a class="btn btn-outline-light btn-lg" href="{% url 'shop' %}">Shop Now...</a>
          </div>
          {%else%}  
          <div class="text-center">
            <a class="btn btn-outline-light btn-lg" href="{% url 'registration' %}">Sign up!</a>
          </div>
          {% endif %}
              </div>
            </div>
          
        </div>
      </div>
  </header>

	<!--Cards -->

<!--3 card section -->
        <section id="services" class="container">
            <h2 class="display-4 text-center mt-5 mb-3">Our Services</h2>
            
            <div class="row text-center">
               <div class="col-md-4 mb-4">
                  <div class="card h-100">
                     <img class="card-img-top" src="{% static 'threelite/images/office2.jpg' %}" alt="Design">
                     <div class="card-body">
                        <h4 class="card-title">Design</h4>
                        <p class="card-text">We help deliver the best user experience for your customers
                          with our custom designed Graphics fit for your needs, see what everyone else is saying...</p>
                     </div>
                     <div class="card-footer py-4">
                        <a href="{% url 'portfolio' %}" class="btn btn-outline-secondary">See Portfolio &raquo;</a>
                     </div>
                  </div>
               </div>
               
               <div class="col-md-4 mb-4">
                  <div class="card h-100">
                     <img class="card-img-top" src="{% static 'threelite/images/person-smartphone-meeting.jpeg' %}" alt="Development">
                     <div class="card-body">
                        <h4 class="card-title">Templates</h4>
                           <p class="card-text">Join our website and get access to our online store that will help you with your design</p>
                     </div>
                     <div class="card-footer py-4">

                      {%if user.is_authenticated %}
                     
                        
                        <a href="{% url 'shop' %}" class="btn btn-outline-secondary">Shop Now... &raquo;</a>
                      
                      {%else%}  
                      
                        <a href="{% url 'registration' %}" class="btn btn-outline-secondary">Join Now &raquo;</a>
                      
                      {% endif %}

                     </div>
                  </div>
               </div>
               
               <div class="col-md-4 mb-4">
                  <div class="card h-100">
                     <img class="card-img-top" src="{% static 'threelite/images/macandcoffee.jpg' %}" alt="Analytics">
                     <div class="card-body">
                        <h4 class="card-title">Bespoke</h4>
                        <p class="card-text">Consult our experts, use our online store to help you get started with your next design project</p>
                     </div>
                     <div class="card-footer py-4">
                        <a href="{%url 'contact'%}" class="btn btn-outline-secondary">Contact Us &raquo;</a>
                     </div>
                  </div>
               </div>
            </div></section>


  
  <!-- Image Showcases -->
  <section class="showcase">
    <h2 class="display-4 text-center mt-5 mb-3">Our Designs</h2>
    <div class="container">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({% static 'threelite/images/bg-showcase-2.jpg' %});"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Web Design</h2>
          <p class="lead mb-0">We specialize in Responsive Web Design, from your ideas we can help your business presence grow online. Anything from simple one page designs all the way to fully functional e-commerce websites. Sign up and get a quote now.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url({% static 'threelite/images/bg-showcase-1.jpg' %});"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Business Needs</h2>
          <p class="lead mb-0">We do a range of office print jobs, Such as custom Invoice printing, Letter Heads and other Office Stationary, This will really set you appart from the competition and give your company a professional look.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({% static 'threelite/images/bg-showcase-3.jpg' %});"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Everything else!</h2>
          <p class="lead mb-0">If you have a large event coming up and need advertising or even a small birthday party you want invite cards for we can help you get on the right track.</p>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">What people are saying...</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'threelite/images/testimonials-1.jpg' %}" alt="">
            <h5>Margaret E. (Shoprite.com)</h5>
            <p class="font-weight-light mb-0">"Very professional a real dream to work with!"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'threelite/images/testimonials-2.jpg' %}" alt="">
            <h5>Fred S. (Local Store Owner)</h5>
            <p class="font-weight-light mb-0">"I was running an event and the guys helped me with my advertising needs, Highly rated!"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'threelite/images/testimonials-3.jpg' %}" alt="">
            <h5>Sarah W. (Wedding Invites)</h5>
            <p class="font-weight-light mb-0">"I looked everywhere for someone to help me print wedding invites and these guys were the best I found..."</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Got an Idea? Contact us!</h2>
        </div>
        
          
              <div class="col-12 col-md-12">
                <div class="text-center">
                <button type="submit" class="btn btn-lg btn-outline-light">Contact</button>
                </div>
              </div>
            
        
      </div>
    </div>
  </section>
  </div>
  
  {%endblock%}