{% extends 'base.html' %}
{% load static %}
{%block content%}

<!--Pulling news from post app-->
<div class="container">

{% for post in posts %}

    <div class="col-md-10 col-sm-9">
        <h2>{{ post.title }}</h2>
        <hr>
        <div class="row">
            <div class="col-xs-9">
                <p>{{ post.content|truncatewords:30 }}</p>
                <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>
                <p><span class="boldtext">Tag:</span> {{ post.tag }}</p>
            </div>
        </div>
    </div>
    <hr>
</div>
        {% endfor %}
        </div>

</div>
<div>
  <section id="services" class="container">
    <h2 class="display-4 text-center mt-5 mb-3">Latest Projects</h2>
    
    <div class="row text-center">
       <div class="col-md-4 mb-4">
          <div class="card h-100">
             <img class="card-img-top" src="{% static 'threelite/images/demosite.png' %}" alt="Design">
             <div class="card-body">
                <h4 class="card-title">Website</h4>
                <p class="card-text">Our Client was looking for a fresh and modern online presence for their business we helped deliver this...</p>
             </div>
             <div class="card-footer py-4">
                <a href="#" class="btn btn-outline-secondary">See More... &raquo;</a>
             </div>
          </div>
       </div>
       
       <div class="col-md-4 mb-4">
          <div class="card h-100">
             <img class="card-img-top" src="{% static 'threelite/images/demoapp.png' %}" alt="Development">
             <div class="card-body">
                <h4 class="card-title">App</h4>
                   <p class="card-text">This Client needed help with UX design for their online Club application so we stepped in...</p>
             </div>
             <div class="card-footer py-4">
                <a href="#" class="btn btn-outline-secondary">See More... &raquo;</a>
             </div>
          </div>
       </div>
       
       <div class="col-md-4 mb-4">
          <div class="card h-100">
             <img class="card-img-top" src="{% static 'threelite/images/demoflyer.jpg' %}" alt="Analytics">
             <div class="card-body">
                <h4 class="card-title">Flyers</h4>
                <p class="card-text">Flyers were required and we took the challange, A clean flyer to help our client advertise their business</p>
             </div>
             <div class="card-footer py-4">
                <a href="#" class="btn btn-outline-secondary">See More...&raquo;</a>
             </div>
          </div>
       </div>
    </div></section>

{% endblock %}