{%extends 'base.html'%}
{%load static%}
{% load bootstrap_tags %}
{% block content %}

    <h1>Registration Page</h1>

    <p>Already have an account? you can sign in <a href="{% url 'login' %}">here</a></p>
    
    {% if messages %}
    <div>
        {%for message in messages%}
        {{message}}
        {% endfor %}
        </div>
        {% endif %}
    <div class = "form-group col-md-3">
    <form method="POST">
        {% csrf_token %}
        {{ registration_form|as_bootstrap }}
        <button type="submit" class="btn btn-success">Register</button>
    </form>
    </div>

    {%endblock%}