{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="3lite Graphic Design">
  <meta name="author" content="jbailey">

  <title>3lite Graphic Design</title>

  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'threelite/landing-page.css' %}" rel="stylesheet">
  <!--Needs top be changed back to static on aws-->
  <link href="{% static 'threelite/style.css' %}" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  {% block head_js %}
  {% endblock head_js %}

</head>

<body>

  <!-- Navigation 
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">3Lite Design</a>
      <a class="btn btn-primary" href="#">Sign In</a>
    </div>
  </nav> -->
	
  <!--Added -->
  
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">3Lite Graphic Design</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home"></i> Home 
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            {%if user.is_authenticated %}
                            <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-user"></i> Logout</a>
                            {% else %}
                            <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-user"></i> Login</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'shop' %}"><i class="fas fa-paint-brush"></i> Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'portfolio' %}"><i class="far fa-image"></i> Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact"><i class="fas fa-at"></i> Contact</a>
                        </li>
                        {%if user.is_authenticated %}
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'view_cart' %}"><i class="fas fa-shopping-cart"></i>
                          {% if product_count > 0 %}
                          <label class="badge badge_warning">{{product_count}}</label>
                          {%endif%}
                          </a>
                      </li>
                      {% endif %}
                        <!--<li class="nav-item">
                          <form action="{%url 'search' %}" method="get">
                            <input type="text" name="q">
                            <button type="submit">Search</button>
                          </form>
                        </li>-->
                    </ul>
                </div>
            </div>
        </nav>

        <!--Below needs to be changed to a more elegant solution-->
        <div id="wrap">&nbsp;<br><br><br></div>
        <div class="container"> 
        {%block content%}{% endblock %}
       </div>
        
  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; 3Lite Graphic Design 2020. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->


</body>

</html>