/*Old Landing Page css*/
.jumbotron {
    background: url("images/meetinglarge.jpg") no-repeat center;
    padding-top: 60px;
}
.btn-primary {
    background-color: #c60063;
    border-color: #c60063;
}

.btn-secondary {
    background-color: transparent;
    border-color: #c60063;
    color: #c60063;
}

#contact {
    background: url("images/macgraphicdesk.jpg") no-repeat center;
    color: #ffffff;
}